<li>
  <%= link_to atom.title, atom %>
  <ul class="iconic-actions">
    <li><%= link_to '',  connection, class: 'icon icon--dark icon__connection' %></li>
    <li><%= link_to '',  connection,  method: :delete, class: 'icon icon--dark icon__detach' %></li>
  </ul>
</li>
