<ol class="link-list">
  <% @atoms.each do |atom| %>
    <li class="inline-progress">
      <span class="inline-progress__indicator" style="width:<%= atom.influence %>%"></span>
      <%= link_to atom.title, atom %>
      </li>
  <% end %>
</ol>
