<h1><%= @atom.title %></h1>
<%= link_to "delete", @atom, method: :delete %>

<h2>Parent Connections</h2>
<ul>
  <% @atom.parents.each do |parent| %>
    <li><%= link_to parent.title, parent %></li>
  <% end %>
</ul>

<h2>Child Connections</h2>
<ul>
  <% @atom.children.each do |child| %>
    <li><%= link_to child.title, child %></li>
  <% end %>
</ul>
