.button {
  padding: em(5) em(12);
  border-radius: 8px;
  text-decoration: none;
  font-size: em(14);

  &.button--minimal {
    border: 1px solid #ccc;
    color: #ccc;
    background: transparent;

    &:hover {
      color: #666;
      border-color: #666;
    }
  }
}
