input.input-list-add {
  width: 100%;
  padding: 6px 0;
  border: 0;
  background-image: url(/assets/icons/add-b.png);
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 25px;
}
