.icon {
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 30px;
  text-transform: uppercase;
  text-decoration: none;

  &.icon--dark {
    &.icon__connection {
      background-image: url(/assets/icons/connection-b.png);
    }

    &.icon__add {
      background-image: url(/assets/icons/add-b.png);
    }

    &.icon__detach {
      background-image: url(/assets/icons/detach-b.png);
    }
  }

  &.icon--light {
    &.icon__edit {
      background-image: url(/assets/icons/edit-w.png);
    }

    &.icon__trash {
      background-image: url(/assets/icons/trash-w.png);
    }
  }
}
