.icon {
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: left center;
  width: 20px;
  height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;

  &.icon--dark {
    &.icon__connection {
      background-image: image-url("icons/connection-b.png");
    }

    &.icon__add {
      background-image: image-url("icons/add-b.png");
    }

    &.icon__detach {
      background-image: image-url("icons/detach-b.png");
    }
  }

  &.icon--light {
    &.icon__edit {
      background-image: image-url("icons/edit-w.png");
    }

    &.icon__trash {
      background-image: image-url("icons/trash-w.png");
    }
  }
}
