.list-header {
  font-size: 1em;
}


.list-vertical {
  margin: 0;
  padding: 0;
  list-style-type: none;

  > li {
    
  }
}

.list-horizontal {
  margin: 0;
  padding: 0;
  list-style-type: none;

  > li {
    display: inline-block;
  }
}
