.mast {
  .mast__title {
    text-align: center;
    font-size: em(44);
    margin: em(40, 72) 0;

    a {
      text-decoration: none;
    }
  }

  .mast__divider {
    background: #2c2c2c;
    color: #fff;
    padding: em(10) em(20);
    position:relative;

    p {
      margin: 0;
      padding: 0;
    }

    .mast__actions {
      margin: 0;
      padding: 0;
      list-style-type: none;
      position: absolute;
      right: 0;
      top: 8px;

      > li {
        display: inline-block;
        padding-right: em(20);
      }
    }
  }
}
