.inline-progress {
  position:relative;

  .inline-progress__indicator {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background: #f7f7f7;
    z-index: -1;
  }
}
